/target
/classes
pom.xml
pom.xml.asc
*.jar
*.class
/.nrepl-port
/.cpcache
/.shadow-cljs
/.cljs_node_repl
/node_modules
*.iml
/.idea
.DS_Store
/resources/public/js
scratch.clj
*.log
.clj-kondo/.cache
/tmp
